<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>
	<body>
		<main>
			<form name="upload" method="POST" class="addF" action="index.php?page=upload">
					<legend>Add file</legend>
					
					<label for="thumbnail">Thumbnail</label><br />
					<input type="text" name="thumbnail"><br />

					<label for="author">Author</label><br />
					<input type="text" name="author" size="15"><br />
					
					<input type="submit" name="btnSubmit" value="Submit"><br />
			</form>
		</main>
	</body>
</html>
